### Byte-compiled / optimized / DLL files ###
__pycache__/
*.py[cod]
*$py.class

### Swarp files ###
pipeline/swarp.xml

### Test reports ###
pipeline/report*.pdf
pipeline/reports/*

### Catalogs ###
pipeline/*.csv

### Output ###
pipeline/results/merged_*.cat
pipeline/results/full_*.cat
pipeline/results/filt_*.csv
pipeline/results/catalogs/2*

### Temporal ###
pipeline/tmp/*.csv

### Logs ###
pipeline/logs/*

### Plots ###
pipeline/plots/*

### Local backup ###
old/